.header {
    background-color: ##04290b;
    display: flex;
    flex-direction: column;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color:floralwhite
}
